<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
	<test name="TestsInChrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="DealsDrayTestCases.test01_UITest" />
			<class name="DealsDrayTestCases.Test02_FunctionalTestCase" />
		</classes>
	</test>

	<test name="TestsInFirefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="DealsDrayTestCases.test01_UITest" />
			<class name="DealsDrayTestCases.Test02_FunctionalTestCase" />
		</classes>
	</test>
</suite>